util/test/src/gr/cognitera/util/xml/test-files/01/b.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="foo:b"
           targetNamespace="foo:b">
    <xs:complexType name="BType">
        <xs:sequence>
            <xs:element name="b1" type="xs:integer"/>
            <xs:element name="b2" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>